body {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.849);
}

.grid {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 0.5fr 1fr 2fr 1fr 2fr 1fr;
    gap: 2px;
}
.logo{
    grid-column: 1;
    grid-row: 1;
    background-color: aqua;
    
    
    
}
.logo img{
    height: 50%;
}
.links {
    grid-column: 2 / 4;
    grid-row: 1;
    background-color: red;
}
.iconos{
    grid-column: 5 / 7;
    grid-row: 1;
    background-color: aquamarine;
}
.categoria1{
    grid-row: 2;
    grid-column: 1 / 7;
    background-color: blueviolet;

}
.items1{
    grid-row: 3;
    grid-column: 1 / 7;
    background-color: rgb(190, 137, 240);
}
.categoria2{
    grid-row: 4;
    grid-column: 1 / 7;
    background-color: blueviolet;

}
.items2{
    grid-row: 5;
    grid-column: 1 / 7;
    background-color: rgb(190, 137, 240);
}
.categoria3{
    grid-row: 6;
    grid-column: 1 / 7;
    background-color: rgb(32, 9, 54);

}